
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #fbf9ef;
}

section {
    margin: 5px;
}

h1 {
    font-size: 38px;
    color: #064471;
}

h2 {
font-size: 30px;
color: #13aad8;

}

h3 {
    text-align: center;
}

.techStackHeading {
    font-size: 20px;
    color: #94a3b8;
    text-align: left;
}

p {
    font-size: 16px;
    color: #023071;
}

li {
    color: #023071;
}

a {
    color: 	#16b199;
}


.techInfo{
    padding: 5px;
    color: rgb(247, 245, 243);
    border-radius: 5px;
    display: inline;
}

#language {
    background-color: #006b3c;
}

.Frontend {
    background-color: #f8b800;
    
}

.Backend {
    background-color: #741b47;
}

.Database {
    background-color: #2c78b7;
}

.Devops {
    background-color: #cc125c;
}